<a href="https://colab.research.google.com/github/jose-luis15/HIDROLOGIA/blob/master/poison_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
data = pd.read_excel("/content/PEARSON.xlsx")
data.head()

      AÑO     Q
0  1963.0  2.27
1  1964.0  4.80
2  1965.0  6.29
3  1966.0  4.25
4  1967.0  3.33

In [0]:
data = data.sort_values('Q',ascending=False)
a= len(data["Q"])+1
data["IND"] = list(range(1,a))

data.head()

       AÑO      Q  IND
35  1998.0  14.87    1
34  1997.0  11.67    2
20  1983.0  11.35    3
29  1992.0   8.69    4
38  2001.0   7.87    5

In [0]:
# calculamos el COEFICIENTE MODULAR (K) y sus variaciones
y = data["Q"].mean()

k,k1,k2,k3 = list(),list(),list(),list()
for x in data["Q"]:
  k.append(x/y)
  k1.append((x/y) -1)
  k2.append(((x/y) -1)**2)
  k3.append(((x/y) -1)**3)

data["K"] = k 
data["K-1"] = k1 
data["(K-1)2"] = k2 
data["(K-1)3"] = k3

data.head()

       AÑO      Q  IND         K       K-1    (K-1)2     (K-1)3
35  1998.0  14.87    1  3.307327  2.307327  5.323756  12.283645
34  1997.0  11.67    2  2.595595  1.595595  2.545924   4.062265
20  1983.0  11.35    3  2.524422  1.524422  2.323863   3.542548
29  1992.0   8.69    4  1.932795  0.932795  0.870107   0.811632
38  2001.0   7.87    5  1.750414  0.750414  0.563122   0.422575

In [0]:
# calculamos el porcentaje de probabilidad
p = list()
for z in data["IND"]:
  p.append(round(((z/a)*100),2)) 
data["P(%)"] = p  

data.head()

       AÑO      Q  IND         K       K-1    (K-1)2     (K-1)3  P(%)
35  1998.0  14.87    1  3.307327  2.307327  5.323756  12.283645  1.89
34  1997.0  11.67    2  2.595595  1.595595  2.545924   4.062265  3.77
20  1983.0  11.35    3  2.524422  1.524422  2.323863   3.542548  5.66
29  1992.0   8.69    4  1.932795  0.932795  0.870107   0.811632  7.55
38  2001.0   7.87    5  1.750414  0.750414  0.563122   0.422575  9.43

In [0]:
#calculamos el coeficiente de variacion
import math
# calculamos la desviacion standar
lista = list()
for w in data["Q"]:
  lista.append((w-y)**2)
  
desviacion_standar = math.sqrt(sum(lista)/len(data["Q"]))
coeficiente_var = round(desviacion_standar/y,2)

print("coeficiente de variacion = ",coeficiente_var)

coeficiente de variacion =  0.61

In [0]:
#calculamos el coeficente de asimetria
lista2 = list()
for t in data["Q"]:
  lista2.append((t-y)**3) 

coeficiente_asi = round((1/(desviacion_standar**3))*(1/len(data["Q"]))*sum(lista2),1)
print("coeficiente de asimetria = ",coeficiente_asi)

coeficiente de asimetria =  1.7

In [0]:
constantes = pd.read_excel("/content/TABLA COEFICIENTES FOSTER - RYBKIN-convertido.xlsx")
constantes.head()

    cs  0.01   0.1   0.5     1     3  ...    80    90    95    97    99  99.9
0  0.0  3.72  3.09  2.57  2.33  1.88  ... -0.84 -1.28 -1.64 -1.88 -2.33 -3.09
1  0.1  3.94  3.23  2.68  2.40  1.92  ... -0.85 -1.27 -1.61 -1.84 -2.25 -2.95
2  0.2  4.16  3.33  2.78  2.47  1.96  ... -0.85 -1.26 -1.58 -1.79 -2.18 -2.81
3  0.3  4.38  3.52  2.89  2.54  2.00  ... -0.85 -1.24 -1.55 -1.75 -2.10 -2.67
4  0.4  4.61  3.66  2.98  2.61  2.04  ... -0.85 -1.23 -1.52 -1.70 -2.03 -2.54

[5 rows x 22 columns]

In [0]:
values = constantes[constantes['cs'] == coeficiente_asi]
values

     cs  0.01  0.1  0.5     1     3  ...    80    90    95   97    99  99.9
17  1.7  7.54  5.5  4.1  3.44  2.44  ... -0.81 -0.97 -1.06 -1.1 -1.14 -1.17

[1 rows x 22 columns]

In [0]:
for r in grafico["probabilidad"]:
  print(round(y(1+r*coeficiente_asi),2))

TypeError: ignored

In [0]:
values = list(constantes[constantes['cs'] == coeficiente_asi])
values .pop(0)

caudales = list()
grafico = pd.DataFrame({"probabilidad":values,"caudales":range(0,21)})
for r in grafico["probabilidad"]:
  caudales.append(round(y(1+r*coeficiente_asi),2))
   
grafico["caudales"] = caudales
grafico

TypeError: ignored